<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>dev.relay.lab-server</string>
  <key>WorkingDirectory</key>
  <string>RELAY_WORKSPACE_ROOT</string>
  <key>ProgramArguments</key>
  <array>
    <string>/usr/bin/env</string>
    <string>pnpm</string>
    <string>ensure:serve</string>
  </array>
  <key>EnvironmentVariables</key>
  <dict>
    <key>RELAY_URL</key>
    <string>http://127.0.0.1:8787</string>
    <key>RELAY_ACTOR_ID</key>
    <string>system:lab-mac</string>
    <key>PATH</key>
    <string>/usr/local/bin:/opt/homebrew/bin:/usr/bin:/bin</string>
  </dict>
  <key>RunAtLoad</key>
  <true/>
  <key>KeepAlive</key>
  <true/>
  <key>StandardOutPath</key>
  <string>RELAY_WORKSPACE_ROOT/.relay/launchd.out.log</string>
  <key>StandardErrorPath</key>
  <string>RELAY_WORKSPACE_ROOT/.relay/launchd.err.log</string>
</dict>
</plist>
